.sort-value {
  display: flex;
  position: relative;
  width: 162px;
  padding: 14px 4px 14px 35px;
  align-items: center;
  background: none;
  color: var(--color-secondary);
  font-size: 16px;
  border-radius: var(--radius-primary);
  border: 1px solid var(--color-dark-grey);
  gap: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: .4s;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../icon/icon_arrow.svg');
  background-position: 14px center;
  background-repeat: no-repeat;
}

.sort-value:focus-visible {
  outline: none
}

.sort-value:hover {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-tertiary);
  border: 1px solid var(--color-primary);
}

.sort-item {
  font-size: var(--font-size-small);
  color: var(--color-default);
}
