.section-manage {
  padding: 28px 0;
  border-bottom: 1px solid var(--color-dark-grey);
  ;
}

.manage-list {
  padding: 0 calc(65px - 52px) 0 calc(65px - 42px);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
  margin-bottom: 30px;
  max-height: 630px;
  overflow-x: hidden;
  overflow-y: visible;
  transition: .4s;
}
.manage-list::-webkit-scrollbar {
  width: 10px;
}
.manage-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.manage-list::-webkit-scrollbar-thumb {
  background: #888;
}
.manage-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-expand {
  width: 180px;
  padding: 14px;
  height: fit-content;
  margin: 0 auto;
}

.expand-loading {
  width: 15px;
  height: 15px;
  border: 4px solid var(--color-secondary);
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
  border-top: 4px solid var(--color-dark-grey);
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
