.form-search {
  display: flex;
  width: 342px;
  padding: 14px;
  border-radius: var(--radius-primary);
  border: 1px solid var(--color-dark-grey);
  background-color: #2d303e;
  gap: 8px;
}

.icon-search {
  width: 20px;
  height: 20px;
}

.input-search {
  width: 100%;
  background: transparent;
  align-self: flex-end;
  color: var(--color-secondary);
  font-size: var(--font-size-default);
  border: none;
}

.input-search::placeholder {
  color: #abbbc2;
  font-size: var(--font-size-small);
  font-weight: 400;
  margin-left: 42px;
}

.form-input {
  display: flex;
  width: 100%;
  padding: 14px;
  align-items: flex-start;
  color: var(--color-secondary);
  font-size: 16px;
  border-radius: var(--radius-primary);
  border: 1px solid var(--color-dark-grey);
  background-color: #2d303e;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-title {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-weight: 500;
}
