.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  position: fixed;
  inset: 0;
  z-index: 100;

}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid var(--color-secondary);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 4px solid var(--color-dark-grey);
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
